<footer class="page-footer fs-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Conheça a desenvolvedora</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/juliana-martinez-3b9170114/" target="_blank" class="iconLinkedin"><i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/JuCSMartin" target="_blank" class="iconGithub"><i class="fab fa-github"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> Desenvolvido por Juliana Martinez &copy;</span>
    </div>
</footer>